.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-image img {
  max-width: 350px;
  height: auto;
}

.about-content {
  max-width: 600px;
}

.about-btn {
  border: none;
  color: white;
  background: #11a974;
  font-size: 24px;
  width: 189px;
  height: 66px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 8px 20px rgba(100, 208, 174, 0.8);
}

.about-btn:hover {
  box-shadow: 0 8px 20px rgba(44, 169, 129, 0);
}

.about-content h4 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.about-content p {
  font-size: 23px;
  color: #f1f1f1;
}
