.about {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 100px;
}

.right-side-content {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}

.about-image img {
  max-width: 350px;
  height: auto;
}

.about-topic .text1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.about-topic .text2 {
  font-size: 2.5rem;
  font-weight: 600;
}

#underline-img-about {
  width: 120px;
  margin: 10px 0;
}

.right-side-content h4 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.right-side-content p {
  font-size: 23px;
  line-height: 1.8;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.about-btn {
  border: none;
  color: white;
  background: #11a974;
  font-size: 24px;
  width: 189px;
  height: 66px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(100, 208, 174, 0.8);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.about-btn:hover {
  box-shadow: 0 8px 20px rgba(44, 169, 129, 0);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    margin: 50px 20px;
    gap: 50px;
  }

  .about-image img {
    max-width: 48%;
  }

  .about-btn {
    height: 49px;
    width: 138px;
    font-size: 15px;
    margin: 0 auto;
  }
  .about-topic .text1 {
    font-size: 2rem;
  }

  .about-topic .text2 {
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  .about {
    padding: 0px 20px;
  }

  .about-content {
    flex-direction: column;
    margin: 30px 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-image img {
    max-width: 234px;
    height: 313px;
  }

  .right-side-content h4 {
    font-size: 16px;
  }

  .right-side-content p {
    font-size: 15px;
    line-height: 1.6;
  }

  .about-btn {
    height: 45px;
    width: 130px;
    font-size: 14px;
    margin: 0 auto;
  }

  .about-topic .text1 {
    display: none;
  }

  .about-topic .text2 {
    display: none;
  }

  #underline-img-about {
    display: none;
  }
  .about-topic-mobile .text1 {
    font-size: 1.5rem;
  }
  .about-topic-mobile .text2 {
    font-size: 1.5rem;
  }
  #underline-img-about-mobile {
    width: 90px;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 426px) {
  .about-topic-mobile {
    display: none;
  }
  #underline-img-about-mobile {
    display: none;
  }
}
