.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 100px;
}
.project1 {
  background-image: url(/images/Project1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition-duration: 1s;
}
.project2 {
  background-image: url(/images/Project2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition-duration: 1s;
}
.project3 {
  background-image: url(/images/stockImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition-duration: 1s;
}
.blue-box {
  background-color: #38ffb979;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  position: absolute;
  bottom: -500px;
  transition-duration: 1s;
}
.blue-box p {
  color: black;
}
.project1:hover .blue-box {
  bottom: -70px;
}
.project2:hover .blue-box {
  bottom: -70px;
}
.project3:hover .blue-box {
  bottom: -70px;
}
@media (max-width: 425px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px 20px;
  }

  .project1,
  .project2,
  .project3 {
    width: 100%;
    max-width: 245px;
    height: 204px;
  }
}
@media (max-width : 320px) {
  .project1,
  .project2,
  .project3 {
    width: 100%;
    max-width: 223px;
    height: 200px;
  }
}
@media (max-width : 768px) {
  .project-container {
    flex-wrap: wrap;
    margin: 89px;
  }
}
@media (max-width : 375px) {
  .project-container {
    margin: 0;
  }
}