.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 100px;
}
.project1 {
  background-image: url(/images/Project1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.project2 {
  background-image: url(/images/Project2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.project3 {
  background-image: url(/images/stockImage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 425px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px 20px;
  }

  .project1,
  .project2,
  .project3 {
    width: 100%;
    max-width: 300px;
    height: 220px;
  }
}
