.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-container p {
  color: white;
  font-size: 24px;
}

.skills-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 425px) {
  .skills-img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .skills-container p {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .skills-img {
    width: 305px;
    height: 161px;
  }
  .skills-container p {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .skills-img {
    width: 309px;
    height: 190px;
  }
}

@media (min-width: 1440px) {
  .skills-img {
    width: 1097px;
  }
}
