.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-container p {
  color: white;
  font-size: 24px;
}

@media (max-width : 425px) {
  .skills-img {
    width: 400px;
    height: 200px;
  }
  .skills-container p {
    font-size: 18px;
  }
}
@media (max-width : 320px) {
  .skills-img {
    width: 305px;
    height: 161px;
  }
  .skills-container p {
    font-size: 14px;
  }
}
@media (max-width : 375px) {
  .skills-img {
    width: 344px;
    height: 190px;
  }
}