body {
  margin: 0;
  background-color: #22463b;
  padding-top: 80px;
}

.text1 {
  font-size: 50px;
  color: white;
}
.text2 {
  font-size: 50px;
  color: #38ffb9;
}
#underline-img {
  display: flex;
  margin: 20px auto 0;
}
footer {
  background-color: #021f14;
  text-align: center;
  padding: 20px;
  color: white;
}
